body {
    background: rgb(202, 202, 202);
}

.jumbotron{
    text-align: center;
    margin:10px;
    border:1px solid gray;
    background: white;
    height: 100px;
}


.flex{
    display: flex;
      flex-wrap: wrap;

}
.uni{
    flex: 1 0 calc(30% - 5px);
    min-height: 268px;
    margin:15px;
     padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #829FD9;
    border-radius:20px;
    transition: all 400ms;
}

.uni:hover{
    box-shadow: 0px 2px 1px 1px #535353;
    transform: translateY(3px);
}


 .img{
    background: #829FD9;
    background-image: url(../img/estudiante.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
}

